# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration (PostgreSQL connection string)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/cognibloom?schema=public"

# Authentication
JWT_SECRET="yoooooo"
JWT_EXPIRES_IN="7d"

# CORS
CORS_ORIGIN="http://localhost:3000"
